<div class="main-wrapper">
   <nav>
     <ul>
        <li><a ng-click="home();"><i class="fa fa-home icon-font-size"></i></a></li>
        <li><a ng-click="courses();">Scuba Courses</a></li>
        <li><a class="selected">About Us</a></li>
        <li><a href="divelog/index.php">Dive Log</a></li>
     </ul>
   </nav>
   <section>
      <div class="main-content">
         <div class="row no-margin">
            <div class="row-image"><img src="images/mark_sailing_SOL.jpg"></div>
            <div class="row-desc">
               <h4>Mark Brettin</h4>
               <p>USCG Captain and PADI Instructor</p>
               <br/>
               <p>Born and raised in Michigan, around the Great Lakes, I've been around water pretty much all my life.  It wasn't until my mid-20's when I got certified in SCUBA.  Now I enjoy exploring and diving around South Florida and the Florida Keys with Christina.</p>
            </div>
         </div>

         <div class="row">
            <div class="row-image"><img src="images/christina_college_FL_2009.jpg"></div>
            <div class="row-desc">
               <h4>Christina Brettin</h4>
               <p class="subtitle">PADI Master Scuba Diver Trainer</p>
               <br/>
               <p></p>
            </div>
         </div>

         <div class="row">
            <div class="row-image"><img src="images/tn_IMG_5894.jpg"></div>
            <div class="row-desc">
               <h4>Sarma</h4>
               <p class="subtitle">Spoiled Princess</p>
               <br/>
               <p>Rescued in New Mexico from the Los Alamos animal shelter at 5 months old, Sarma is quite the mixed breed.  Sarma was found roaming in the Jemez mountains in the middle of winter.  Now she's part of the family and loves the walks, chasing squirrels and chewing on coconuts.</p>
            </div>
         </div>
      </div>
   </section>
</div>
