
<!-- BEGIN: aboutus.html -->
<div class="row">
    <div class="large-12 columns no-padding panel-margin">
        <div class="panel">

            <!--single row for info-->
            <div class="panel">
                <div class="row">
                    <div class="medium-4 large-4 columns"><img src="/images/tn_img_4155.jpg" alt="Company Bio" /></div>
                    <div class="medium-8 large-8 columns">
                        <h4>Blue Wild</h4>
                        <h6>Company Bio</h6>
                        <br/>
                        <p>Basically, we're a &quot;Mom &amp; Pop Shop&quot;, husband and wife with a passion for the ocean and sharing experiences.  When we teach our SCUBA courses, we believe in good quality instruction with attention to the individual and feel that diver safety creates the foundation for fun diving.</p>
                        <br />
                        <p>Both Mark and Christina have worked at several dive shops in the past and they believe in good quality instruction with an emphasis on safety and marine preservation.  Taking only pictures and leaving only bubbles, they have a very strong belief of taking care of all marine life.</p>
                    </div>
                </div>
            </div>

            <!--single row for info-->
            <div class="panel">
                <div class="row">
                    <div class="medium-4 large-4 columns"><img src="/images/mark_sailing_SOL.jpg" alt="Captain Mark" /></div>
                    <div class="medium-8 large-8 columns">
                        <h4>Mark Brettin</h4>
                        <h6>USCG Captain and PADI Instructor</h6>
                        <br/>
                        <p>Born and raised in Michigan, around the Great Lakes, I've been around water pretty much all my life.  I was Open Water certified in 1998 and became a PADI instructor thereafter.  Now I enjoy exploring and diving around South Florida and the Florida Keys with Christina.</p>
                    </div>
                </div>
            </div>

            <!--single row for info-->
            <div class="panel">
                <div class="row">
                    <div class="medium-4 large-4 columns"><img src="/images/christina_instructor.jpg" alt="Instructor Christina" /></div>
                    <div class="medium-8 large-8 columns">
                        <h4>Christina Brettin</h4>
                        <h6>PADI Master Scuba Diver Trainer</h6>
                        <br/>
                        <p>Christina is from the South Texas coastal bend. Growing up so near the water gave her an early love and appreciation for marine life.  She will most likely be seen with a camera during her dives, another activity she enjoys as much as diving.  Even with a degree in Biology, she is always learning more and more about the local marine ecosystems, and enjoys sharing and bringing awareness to others.</p>
                    </div>
                </div>
            </div>

            <!--single row for info-->
            <div class="panel">
                <div class="row">
                    <div class="medium-4 large-4 columns"><img src="/images/tn_IMG_5894.jpg" alt="Wild Princess" /></div>
                    <div class="medium-8 large-8 columns">
                        <h4>Sarma</h4>
                        <h6>Spoiled Princess</h6>
                        <br/>
                        <p>Rescued in New Mexico from the Los Alamos animal shelter at 5 months old, Sarma is quite the mixed breed.  Sarma was found roaming in the Jemez mountains in the middle of winter.  Now she's part of the family and loves the walks, chasing squirrels and chewing on coconuts.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END: aboutus.html -->
