<div class="main-wrapper">
	<nav>
	  <ul>
	    <li><a ng-click="home();"><i class="fa fa-home icon-font-size"></i></a></li>
	    <li><a ng-click="courses();">Scuba Courses</a></li>
	    <li><a class="selected">About Us</a></li>
	  </ul>
	</nav>
	<section>
		<div class="main-content">
		   <div class="row border-top">
				<div class="row-image"><img src="images/Poseidon_sculpture_blue.jpg"></div>
				<div class="row-desc">
				   <h4>Mark Brettin</h4>
					<p>USCG Captain and PADI Instructor</p>
				</div>
			</div>

			<div class="row">
				<div class="row-image"><img src="images/christina_college_FL_2009.jpg"></div>
				<div class="row-desc">
				   <h4>Christina Brettin</h4>
					<p>PADI Master Scuba Diver Trainer</p>
				</div>
			</div>

			<div class="row">
				<div class="row-image"><img src="images/Poseidon_sculpture_blue.jpg"></div>
				<div class="row-desc">
				   <h4>Sarma</h4>
					<p>Assistant to the USCG Captain</p>
				</div>
			</div>
		</div>
	</section>
</div>
