<div class="main-wrapper">
    <nav>
      <ul>
        <li><a class="selected"><i class="fa fa-home icon-font-size"></i></a></li>
        <li><a ng-click="courses();">Scuba Courses</a></li>
        <li><a ng-click="about_us();">About Us</a></li>
        <li><a class="selected">Dive Log</a></li>
      </ul>
    </nav>
    <section id="img-container">
        <div class="img-content no-margin-left">
            <img src="images/padi_learn.jpg">
        </div>
        <div class="img-content">
            <img src="images/padi_elearn.jpg">
        </div>
        <div class="img-content">
            <img src="images/padi_advanced.jpg">
        </div>
    </section>
    <section>
        <div class="main-content">
            <p>
            The New Dive Log Is Here!
         There’s still a little more work to be done; however, for those that have been using the dive log, you can continue logging your dives here.
         Come dive the warm tropical waters of the Atlantic Ocean off the coast of south Florida.
         Reefs — Wrecks  — Boat Dives — Beach Dives — Drift
         Discover Scuba Diving in one day!
         Earn your Open Water Scuba Diver Certification.
         Enhance your training with many course options.
         Know your marine life?  Try the Blue Wild Creature Quiz
         Photos coming soon!
         Contact us directly at bluewildscuba@gmail.com
            </p>
        </div>
    </section>
</div>
