<div class="main-wrapper">
    <nav>
      <ul>
        <li><a class="selected"><i class="fa fa-home icon-font-size"></i></a></li>
        <li><a ng-click="courses();">Scuba Courses</a></li>
        <li><a ng-click="about_us();">About Us</a></li>
        <li><a href="divelog/index.php">Dive Log</a></li>
      </ul>
    </nav>
    <section id="img-container">
        <div class="img-content no-margin-left">
            <img src="images/padi_learn.jpg">
        </div>
        <div class="img-content">
            <img src="images/padi_elearn.jpg">
        </div>
        <div class="img-content">
            <img src="images/padi_advanced.jpg">
        </div>
    </section>
    <section>
        <div class="main-content">
            <p>SCUBA diving South Florida and the Florida Keys.  Here we are your guides to diving the blue wild.
            <br />
            <br />
            If you've found yourself here and are looking to go scuba diving, you found the right place.  We teach <a class="bwlink" ng-click="courses();">PADI courses</a> from Discover Scuba Diving, Open Water all the way to Divemaster and specialities.  Scuba diving from Deerfield Beach to the Florida Keys, there's a lot of good diving all around South Florida.
            <br />
            <br />Need to take a scuba refresher course?  Looking for a divemaster guide?  How about a beach dive?  Want to continue your scuba education or perhaps become a Divemaster?  Check us out and feel free to contact us with any questions.</p>
        </div>
    </section>
</div>
