
<!-- BEGIN: home.html -->
<div class="row">
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
      <li class="last-image"><a data-ng-href="courses/OW"><img src="images/padi_learn.jpg" alt="Learn to Dive" /></a></li>
      <li class="last-image"><a data-ng-href="courses/OW"><img src="images/padi_elearn.jpg" alt="Courses eLearning" /></a></li>
      <li class="last-image"><a data-ng-href="courses/AOW"><img src="images/padi_advanced.jpg" alt="PADI Advanced Open Water" /></a></li>
    </ul>
</div>

<div class="row">
    <div class="small-12 large-12 columns no-padding antialised">
        <div class="panel">
            <p>SCUBA diving the Fort Lauderdale area and the Florida Keys.  Here we are your guides to diving the blue wild.</p>

            <p>If you've found yourself here and are looking to do some scuba diving, you found the right place. We teach <a style="color:#ffff00;" class="bwlink" data-ng-href="/courses">PADI courses</a> from Discover Scuba Diving, Open Water all the way to Divemaster and specialities. Located in Hollywood, Florida makes us centrally located to the South Florida diving.</p>

            <p>Thinking about becoming <a style="color:#ffff00;" class="bwlink" data-ng-href="courses/OW">Open Water</a> certified? Need to take a <a style="color:#ffff00;" class="bwlink" data-ng-href="/courses/TUNEUP">scuba refresher course</a>?  Looking for a <a style="color:#ffff00;" class="bwlink" data-ng-href="/courses/DIVEMASTER-GUIDE">divemaster guide</a>?  How about a <a style="color:#ffff00;" class="bwlink" data-ng-href="/courses/BEACH-DIVE" >beach dive</a>?  Want to continue your scuba education or perhaps become a PADI <a style="color:#ffff00;" class="bwlink" data-ng-href="/courses/DM">Divemaster</a>?  We are a husband / wife small business and there's a lot we can do in regards to your SCUBA diving adventures.  Check us out and feel free to contact us with any questions.</p>
        </div>
    </div>
</div>
<!-- END: home.html -->
