<div class="main-wrapper">
   <nav>
     <ul>
       <li><a ng-click="home();"><i class="fa fa-home icon-font-size"></i></a></li>
       <li><a class="selected">Scuba Courses</a></li>
       <li><a ng-click="about_us();">About Us</a></li>
     </ul>
   </nav>
   <section>
      <div class="main-content">
         <div class="row no-margin">
            <div id="course-img" class="row-image"><img src="images/Poseidon_sculpture_blue.jpg"></div>
               <div class="row-desc-course">
                  <h4>Open Water</h4>
                  <ul class="price">
                     <li>Traditional <span class="price-color">| $550 |</span></li>
                     <li>e-learning <span class="price-color">| $400 |</span></li>
                  </ul>
                  <p class="course-title">
                     The PADI Open Water Diver certification consists of <strong>three</strong> sections.
                     <ul class="list-style-dots">
                        <li>
                           The knowledge development portion establishes a foundation of principles,
                           procedures and general information that divers need.  A multiple choice final
                           exam is administered at the conclusion of the academics.
                        </li>
                        <li>
                           Confined water dives where students learn the basic skills with SCUBA gear
                           in a low stress environment (swimming pool).  Here an introduction to equipment
                           is learned.  This portion reinforces and supplements the knowledge development
                           training.
                        </li>
                        <li>
                           Open water dives are performed in the ocean where the student practices the
                           basic skills learned in the confined water dives.  There are four open water
                           dives required and during these dives, there is plenty of time to relax and
                           enjoy the underwater experience.
                        </li>
                     </ul>
                  </p>
               </div>
         </div>

         <div class="row">
            <div id="course-img" class="row-image"><img src="images/Poseidon_sculpture_blue.jpg"></div>
               <div class="row-desc-course">
                  <h4>Advanced Open Water</h4>
                  <ul class="price">
                     <li>Standard <span class="price-color">| $500 |</span></li>
                     <li>Standard + gear <span class="price-color">| $350 |</span></li>
                  </ul>
                  <p class="course-title">
                     The PADI Advanced Open Water certification is a continuation of the Open
                     Water course.  Here a total of five dives will be conducted with the
                     instructor where there will be more emphasis on the dives to be performed.
                     Of the five required speciality dives, the student must complete:
                     <ul class="list-style-dots">
                        <li>
                           Underwater Navigation
                        </li>
                        <li>
                           Deep Dive
                        </li>
                     </ul>
                     <p>The student chooses three elective speciality dives:</p>
                     <ul class="list-style-dots">
                        <li>
                           Wreck Dive
                        </li>
                        <li>
                           Search & Recovery
                        </li>
                        <li>
                           Underwater Naturalist
                        </li>
                        <li>
                           Underwater Photography
                        </li>
                        <li>
                           Night Dive
                        </li>
                        <li>
                           Peak Performance Buoyancy
                        </li>
                        <li>
                           Diver Propulsion Vehicle
                        </li>
                        <li>
                           Drift Dive
                        </li>
                        <li>
                           AWARE - Fish Identification
                        </li>
                     </ul>
                  </p>
               </div>
         </div>

         <div class="row">
            <div id="course-img" class="row-image"><img src="images/Poseidon_sculpture_blue.jpg"></div>
               <div class="row-desc-course">
                  <h4>Rescue Diver</h4>
                  <ul class="price">
                     <li>Traditional <span class="price-color">| $475 |</span></li>
                     <li>e-learning <span class="price-color">| $350 |</span></li>
                  </ul>
                  <p class="course-title">
                     Includes:
                     <ul class="list-style-dots">
                        <li>
                           All lectures and pool sessions
                        </li>
                        <li>
                           Course materials and books
                        </li>
                        <li>
                           4 Open Water Dives (dive accident scenerios)
                        </li>
                        <li>
                           The Psychology of Rescue (self rescue and diver stress)
                        </li>
                        <li>
                           Emergency Oxygen Delivery Systems
                        </li>
                        <li>
                           Automated External Defibrillator (AED)
                        </li>
                        <li>
                           Accident Management
                        </li>
                        <li>
                           Responding to Diver Emergencies
                        </li>
                        <li>
                           10 Rescue Training & Rescue Scenarios (confined water)
                        </li>
                        <li>
                           4 Resuce Scenarios (open water)
                        </li>
                        <li>
                           PADI Certification fees
                        </li>
                     </ul>
                     <p>Student provides:</p>
                     <ul class="list-style-dots">
                        <li>
                           Advanced Open Water certification with 20 or more logged dives.
                        </li>
                        <li>
                           Scuba equipment: BCD, regulator, octopus, mask, fins, snorkel
                        </li>
                        <li>
                           Scuba equipment rental is available.
                        </li>
                        <li>
                           Certified Open Water diver.
                        </li>
                        <li>
                           <em>Minimum 12 years of age (under 15 years old obtains PADI Junior Rescue Diver certification).</em>
                        </li>
                     </ul>
                  </p>
               </div>
         </div>

         <div class="row">
            <div id="course-img" class="row-image"><img src="images/Poseidon_sculpture_blue.jpg"></div>
               <div class="row-desc-course">
                  <h4>Dive Master</h4>
                  <ul class="price">
                     <li>Standard <span class="price-color">| $575 |</span></li>
                     <li>Standard + materials <span class="price-color">| $1000 |</span></li>
                  </ul>
                  <p class="course-title">
                     Includes:
                     <ul class="list-style-dots">
                        <li>
                           All lectures and pool sessions
                        </li>
                        <li>
                           Course materials and books
                        </li>
                        <li>
                           10 Open Water Dives
                        </li>
                        <li>
                           Water skills and stamina
                        </li>
                        <li>
                           Dive Theory
                        </li>
                        <li>
                           Physics and Physiology
                        </li>
                        <li>
                           SCUBA Equipment Study
                        </li>
                        <li>
                           Rescue Assessment
                        </li>
                        <li>
                           Watermanship Skills
                        </li>
                        <li>
                           Emergency Management
                        </li>
                        <li>
                           18 Basic Scuba Skills (training exercises)
                        </li>
                        <li>
                           5 Academic Examinations
                        </li>
                        <li>
                           PADI Crew Pak (includes instructor manual)
                        </li>
                        <li>
                           PADI Application Fees
                        </li>
                     </ul>
                     <p>Student provides:</p>
                     <ul class="list-style-dots">
                        <li>
                           Rescue Diver certification with 40 or more logged dives
                        </li>
                        <li>
                           Medical examination for diving by a physician attesting to fitness to dive
                        </li>
                        <li>
                           Proof of Emergency First Response (CPR and First Aid)
                        </li>
                        <li>
                           <em>Minimum 18 years of age.</em>
                        </li>
                     </ul>
                  </p>
               </div>
         </div>
         <!-- end content -->
      </div>
   </section>
</div>


<!-- Divemaster

Includes:

All lectures and pool sessions
Course materials and books.
10 Open water dives
Water skills and stamina
Dive Theory
Physics and Physiology
SCUBA Equipment Study
Rescue Assessment
Watermanship Skills
Emergency Management
18 Basic Scuba Skills (training exercises)
5 Academic Examinations
PADI Crew Pak (includes instructor manual)
PADI Application Fees
Price: $1150

Student provides:

Rescue Diver certification with 40 or more logged dives
Medical examination for diving by a physician attesting to fitness to dive
Proof of Emergency First Response (CPR and First Aid)
Minimum 18 years of age -->



