<div class="main-wrapper">
   <nav>
     <ul>
       <li><a ng-click="home();"><i class="fa fa-home icon-font-size"></i></a></li>
       <li><a class="selected">Scuba Courses</a></li>
       <li><a ng-click="about_us();">About Us</a></li>
        <li><a href="divelog/index.php">Dive Log</a></li>
     </ul>
   </nav>
   <section>
      <div class="main-content">
         <div class="row no-margin">
            <div id="course-img" class="row-image"><img src="images/tn_IMG_0258.jpg"></div>
               <div class="row-desc-course">
                  <h4>Discover Scuba Diving</h4>
                  <ul class="price">
                     <li>1 person <span class="price-color">| $175 |</span></li>
                     <li>2 + persons <span class="price-color">| $150 |</span></li>
                  </ul>
                  <p class="course-title">
                     The Discover Scuba Diving course will let you give scuba a try without the work of doing the actual certification.  While not an actual scuba certification, during the Discover Scuba Diving course you'll learn the basics of how to use scuba equipment in shallow water and get a quick and easy introduction to what it takes to explore the underwater world.
                     <ul class="list-style-dots">
                        <li>
                           Sit in on a short video and lecture session.
                        </li>
                        <li>
                           Learn to use the equipment in the pool with a PADI Instructor.
                        </li>
                        <li>
                           Dive the reef with the PADI Instructor.
                        </li>
                        <li>
                           All scuba equipment provided.
                        </li>
                     </ul>
                  </p>
               </div>
         </div>

         <div class="row">
            <div id="course-img" class="row-image"><img src="images/open_water.jpg"></div>
               <div class="row-desc-course">
                  <h4>Open Water</h4>
                  <ul class="price">
                     <li>Traditional <span class="price-color">| $550 |</span></li>
                     <li>e-learning <span class="price-color">| $400 |</span></li>
                  </ul>
                  <p class="course-title">
                     The PADI Open Water Diver certification consists of <strong>three</strong> sections.
                     <ul class="list-style-dots">
                        <li>
                           The knowledge development portion establishes a foundation of principles,
                           procedures and general information that divers need.  A multiple choice final
                           exam is administered at the conclusion of the academics.
                        </li>
                        <li>
                           Confined water dives where students learn the basic skills with SCUBA gear
                           in a low stress environment (swimming pool).  Here an introduction to equipment
                           is learned.  This portion reinforces and supplements the knowledge development
                           training.
                        </li>
                        <li>
                           Open water dives are performed in the ocean where the student practices the
                           basic skills learned in the confined water dives.  There are four open water
                           dives required and during these dives, there is plenty of time to relax and
                           enjoy the underwater experience.
                        </li>
                     </ul>
                  </p>
               </div>
         </div>

         <div class="row">
            <div id="course-img" class="row-image"><img src="images/advanced_open_water.jpg"></div>
               <div class="row-desc-course">
                  <h4>Advanced Open Water</h4>
                  <ul class="price">
                     <li>Standard <span class="price-color">| $350 |</span></li>
                     <li>Standard + gear <span class="price-color">| $500 |</span></li>
                  </ul>
                  <p class="course-title">
                     The PADI Advanced Open Water certification is a continuation of the Open
                     Water course.  Here a total of five dives will be conducted with the
                     instructor where there will be more emphasis on the dives to be performed.
                     Of the five required speciality dives, the student must complete:
                     <ul class="list-style-dots">
                        <li>
                           Underwater Navigation
                        </li>
                        <li>
                           Deep Dive
                        </li>
                     </ul>
                     <p>The student chooses three elective speciality dives:</p>
                     <ul class="list-style-dots">
                        <li>
                           Wreck Dive
                        </li>
                        <li>
                           Search & Recovery
                        </li>
                        <li>
                           Underwater Naturalist
                        </li>
                        <li>
                           Underwater Photography
                        </li>
                        <li>
                           Night Dive
                        </li>
                        <li>
                           Peak Performance Buoyancy
                        </li>
                        <li>
                           Diver Propulsion Vehicle
                        </li>
                        <li>
                           Drift Dive
                        </li>
                        <li>
                           AWARE - Fish Identification
                        </li>
                     </ul>
                  </p>
               </div>
         </div>

         <div class="row">
            <div id="course-img" class="row-image"><img src="images/rescue_diver.jpg"></div>
               <div class="row-desc-course">
                  <h4>Rescue Diver</h4>
                  <ul class="price">
                     <li>Traditional <span class="price-color">| $475 |</span></li>
                     <li>e-learning <span class="price-color">| $350 |</span></li>
                  </ul>
                  <p class="course-title">
                     Includes:
                     <ul class="list-style-dots">
                        <li>
                           All lectures and pool sessions
                        </li>
                        <li>
                           Course materials and books
                        </li>
                        <li>
                           4 Open Water Dives (dive accident scenerios)
                        </li>
                        <li>
                           The Psychology of Rescue (self rescue and diver stress)
                        </li>
                        <li>
                           Emergency Oxygen Delivery Systems
                        </li>
                        <li>
                           Automated External Defibrillator (AED)
                        </li>
                        <li>
                           Accident Management
                        </li>
                        <li>
                           Responding to Diver Emergencies
                        </li>
                        <li>
                           10 Rescue Training & Rescue Scenarios (confined water)
                        </li>
                        <li>
                           4 Resuce Scenarios (open water)
                        </li>
                        <li>
                           PADI Certification fees
                        </li>
                     </ul>
                     <p>Student provides:</p>
                     <ul class="list-style-dots">
                        <li>
                           Advanced Open Water certification with 20 or more logged dives.
                        </li>
                        <li>
                           Scuba equipment: BCD, regulator, octopus, mask, fins, snorkel
                        </li>
                        <li>
                           Scuba equipment rental is available.
                        </li>
                        <li>
                           Certified Open Water diver.
                        </li>
                        <li>
                           <em>Minimum 12 years of age (under 15 years old obtains PADI Junior Rescue Diver certification).</em>
                        </li>
                     </ul>
                  </p>
               </div>
         </div>

         <div class="row">
            <div id="course-img" class="row-image"><img src="images/divemaster_alex.jpg"></div>
               <div class="row-desc-course">
                  <h4>Dive Master</h4>
                  <ul class="price">
                     <li>Standard <span class="price-color">| $575 |</span></li>
                     <li>Standard + materials <span class="price-color">| $1000 |</span></li>
                  </ul>
                  <p class="course-title">
                     Includes:
                     <ul class="list-style-dots">
                        <li>
                           All lectures and pool sessions
                        </li>
                        <li>
                           Course materials and books
                        </li>
                        <li>
                           10 Open Water Dives
                        </li>
                        <li>
                           Water skills and stamina
                        </li>
                        <li>
                           Dive Theory
                        </li>
                        <li>
                           Physics and Physiology
                        </li>
                        <li>
                           SCUBA Equipment Study
                        </li>
                        <li>
                           Rescue Assessment
                        </li>
                        <li>
                           Watermanship Skills
                        </li>
                        <li>
                           Emergency Management
                        </li>
                        <li>
                           18 Basic Scuba Skills (training exercises)
                        </li>
                        <li>
                           5 Academic Examinations
                        </li>
                        <li>
                           PADI Crew Pak (includes instructor manual)
                        </li>
                        <li>
                           PADI Application Fees
                        </li>
                     </ul>
                     <p>Student provides:</p>
                     <ul class="list-style-dots">
                        <li>
                           Rescue Diver certification with 40 or more logged dives
                        </li>
                        <li>
                           Medical examination for diving by a physician attesting to fitness to dive
                        </li>
                        <li>
                           Proof of Emergency First Response (CPR and First Aid)
                        </li>
                        <li>
                           <em>Minimum 18 years of age.</em>
                        </li>
                     </ul>
                  </p>
               </div>
         </div>

         <div class="row no-margin">
            <div id="course-img" class="row-image"><img src="images/nitrox.jpg"></div>
               <div class="row-desc-course">
                  <h4>Enriched Air Nitrox</h4>
                  <ul class="price">
                     <li>Traditional <span class="price-color">| $150 |</span></li>
                     <li>e-learning <span class="price-color">| $275 |</span></li>
                  </ul>
                  <p class="course-title">
                     Air consists of approximately 79 percent nitrogen and 21 percent oxygen. Enriched air has been enriched with oxygen, so it has more than 21 percent oxygen. Enriched air is often called nitrox, is any nitrogen/oxygen gas blend with more than 21 percent oxygen.
                     <br />
                     <br />
                     You'll be learning to use enriched air with from 22 percent to the maximum 40 percent oxygen recommended for recreational diving.
                     <br />
                     <br />
                     The course includes knowledge reviews and a final exam followed by two training dives that allow the student to learn and demonstrate mastery of enriched air diving principles.
                  </p>
               </div>
         </div>
         <!-- end content -->
      </div>
   </section>
</div>
