/* core css used from foundation css */


.selected {
    color: #ffff00 !important;
}

.course-title {
    color: #ffffff !important;
}

body {
    background-image: url('/images/underwater_gradient_1.jpg');
    background-color: #014ea6;
    background-repeat: repeat-x;
    background-position: center top;
    background-attachment: fixed !important;
    /* background-color: #0076b1; */  /* Daniel's original background-color */

    color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default;

    overflow: auto;
    height: 100%;
}

header {
    margin-bottom: 10px;
}

.last-image {
    cursor: pointer;
}

#logo-image {
    width: 200px;
    height: 89px;
}

.panel-margin {
    margin-top: 3% !important;
}

.icon-font-size {
    font-size: 1.5em;
}

.offset-top {
    margin-top: 1% !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.contact-info {
    font-weight: 200;
    font-size: .85em;
    padding: 4.7rem 0 0 0;
    text-align: right;
}

/* Pricing Tables */
.price-color {
  color:#ffff00;
  font-weight: 400;
}
.pricing-table {
    border: solid 1px #fff;
    border-radius: 15px;
    margin-left: 0;
    margin-bottom: 1.25rem;
}

.pricing-table * {
    list-style: none;
    line-height: 1;
}

.pricing-table .title {
    padding: 0.5rem 1.25rem;
    text-align: center;
    color: #fff;
    font-weight: 200;
    font-size: .9rem;
    font-family: 'Raleway', sans-serif;
}

.pricing-table .price {
    background-color: #f6f6f6;
    padding: 0.5rem 1.25rem;
    text-align: center;
    color: #333333;
    font-weight: 200;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

.pricing-table .description {
    background-color: white;
    padding: 0.9375rem;
    text-align: center;
    color: #777777;
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1.4;
    border-bottom: dotted 1px #dddddd;
}

.pricing-table .bullet-item {
    background-color: white;
    padding: 0.9375rem;
    text-align: center;
    color: #333333;
    font-size: 0.875rem;
    font-weight: normal;
    border-bottom: dotted 1px #dddddd;
}

.pricing-table .cta-button {
    background-color: white;
    text-align: center;
    padding: 1.25rem 1.25rem 0;
}

/*used for nav bar*/
.breadcrumbs {
    display: block;
    padding: 0.5625rem 0.875rem 0.5625rem;
    overflow: hidden;
    margin-left: 0;
    list-style: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 3px;
}

.breadcrumbs > * {
    margin: 0;
    float: left;
    line-height: 1.5em;
    font-weight: 200;
    font-size: .85rem;
    color: #fff;
}

.breadcrumbs > *:hover a, .breadcrumbs > *:focus a {
    text-decoration: underline;
}
.breadcrumbs > * a {
    color: #fff;
}
.breadcrumbs > *.current {
    cursor: default;
    color: #333333;
}
.breadcrumbs > *.current a {
    cursor: default;
    color: #333333;
}
.breadcrumbs > *.current:hover, .breadcrumbs > *.current:hover a, .breadcrumbs > *.current:focus, .breadcrumbs > *.current:focus a {
    text-decoration: none;
}
.breadcrumbs > *.unavailable {
    color: #999999;
}
.breadcrumbs > *.unavailable a {
    color: #999999;
}
.breadcrumbs > *.unavailable:hover, .breadcrumbs > *.unavailable:hover a, .breadcrumbs > *.unavailable:focus, .breadcrumbs > *.unavailable a:focus {
    text-decoration: none;
    color: #999999;
    cursor: default;
}
.breadcrumbs > *:before {
    content: "";
    color: #aaaaaa;
    margin: 0 0.75rem;
    position: relative;
    top: 1px;
}
.breadcrumbs > *:first-child:before {
    content: " ";
    margin: 0;
}

.row {
    width: 100%; /* main styling for row that you need to worry about */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 58em;
    zoom: 1;
}/* ends here, other things are small hacks and adjustments */
.row:before, .row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.row.collapse > .column, .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0;
}
.row.collapse .row {
    margin-left: 0;
    margin-right: 0;
}
.row .row {
    width: auto;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    zoom: 1;
}
.row .row:before, .row .row:after {
    content: " ";
    display: table;
}
.row .row:after {
    clear: both;
}
.row .row.collapse {
    width: auto;
    margin: 0;
    max-width: none;
    zoom: 1;
}
.row .row.collapse:before, .row .row.collapse:after {
    content: " ";
    display: table;
}
.row .row.collapse:after {
    clear: both;
}

.column, .columns {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}

/* small devices */
@media only screen {
    /* Define mobile styles */

    .column, .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left;
    }

    .small-4 { width: 33.33333%; }

    .small-5 { width: 41.66667%; }

    .small-6 { width: 50%; }

    .small-7 { width: 58.33333%; }

    .small-8 { width: 66.66667%; }

    .small-9 { width: 75%; }

    .small-10 { width: 83.33333%; }

    .small-11 { width: 91.66667%; }

    .small-12 { width: 100%; }
}


@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
    body {
        background-image: url('/images/underwater_background_shorter_max_width_1024.jpg');
        background-repeat: no-repeat;
        background-position: center top;
        background-color: #014ea6;
        background-attachment: fixed !important;
    }
}

/* tablet like devices */
@media only screen and (min-width: 40.063em) {
    /* min-width 641px, medium screens */

    .column, .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left;
    }

    .medium-1 { width: 8.33333%; }

    .medium-2 { width: 16.66667%; }

    .medium-3 { width: 25%; }

    .medium-4 { width: 33.33333%; }

    .medium-5 { width: 41.66667%; }

    .medium-6 { width: 50%; }

    .medium-7 { width: 58.33333%; }

    .medium-8 { width: 66.66667%; }

    .medium-9 { width: 75%; }

    .medium-10 { width: 83.33333%; }

    .medium-11 { width: 91.66667%; }

    .medium-12 { width: 100%; }
}

@media only screen and (min-width: 64.063em) {
    /* min-width 1025px, large screens */

    .column, .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left;
    }

    .large-1 { width: 8.33333%; }

    .large-2 { width: 16.66667%; }

    .large-3 { width: 25%; }

    .large-4 { width: 33.33333%; }

    .large-5 { width: 41.66667%; }

    .large-6 { width: 50%; }

    .large-7 { width: 58.33333%; }

    .large-8 { width: 66.66667%; }

    .large-9 { width: 75%; }

    .large-10 { width: 83.33333%; }

    .large-11 { width: 91.66667%; }

    .large-12 { width: 100%; }
}

/* more small device media query styles*/
@media only screen and (max-width: 40em) {
    /* max-width 640px, mobile-only styles, use when QAing mobile issues */
    .inline-list {
        text-align: center;
        margin-left: 0;
        margin-bottom: 0;
        padding: .4rem 0;
        list-style: none;
        overflow: hidden;
    }
    .inline-list > li {
        font-size: 1rem;
        list-style: none;
        padding: .25%;
        float: none;
        margin-left: 0;
        display: block;
    }
    .inline-list > li > * {
        display: block;
    }

    html {
        height: 100%;
    }

    body {
        background-image: none;
        background-color: #0076b1 !important;
    }

    .contact-info {
        font-size: 1.15rem;
        padding-top: 1%;
        padding-bottom: 1em;
    }

    h4 {
        font-size: 1.6rem;
    }

    .last-image {
        float: none !important;
        margin: 0 auto !important;
        width: 90% !important;
        padding: 1.5%;
        cursor: pointer;
    }

    .breadcrumbs > *:before {
        margin: 0 0 0 .9rem;
    }

    .small-only-text-left { text-align: left !important; }

    .small-only-text-right { text-align: right !important; }

    .small-only-text-center { text-align: center !important; }

    .small-only-text-justify { text-align: justify !important; }
}
